img{
    height: 320px;
    width: 270px;
}

.img{
    position: relative;
    box-shadow: 3px 2px  10px gray;
   margin-bottom: 8px;
   border-radius: 4px 5px;
}

.topbar{
    margin: 70px auto;
}

.title{
    position: absolute;
    bottom: 0;
    color: #c0e908;
   margin-left: 0px;
    background-color: rgb(66, 48, 48);
    font-size: 25px;
    border-radius: 4px;
    margin-top: 100px;
    width: 270px;
   
    text-align: center;
}